<div class="main-wrapper">
  <div *ngIf="role === 'Admin'">
    <app-header-admin></app-header-admin>
    <app-sidebar-admin></app-sidebar-admin>
  </div>
  <div *ngIf="role === 'Doctor'">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
  </div>
  <div *ngIf="role === 'Patient'">
    <app-patient-header></app-patient-header>
    <app-patient-sidebar></app-patient-sidebar>
  </div>

  <ng-progress #progressBar></ng-progress>

  <div class="page-wrapper">
    <div class="content">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="blog-view">
            <article class="blog blog-single-post">

              <!-- Verification Button -->
              <div class="d-flex justify-content-end mb-3" *ngIf="blogDetail?.is_verified === false">
                <div>
                  <button *ngIf="role == 'Doctor'" 
                          class="btn btn-warning"
                          (click)="showPendingMessage = !showPendingMessage">
                    <i class="feather-clock me-1"></i> En attente
                  </button>
                  <!-- Message sous le bouton -->
                  <p *ngIf="showPendingMessage" class="tip">
                    Votre article est en cours de vérification par l’administrateur.
                  </p>
                </div>
                                <button *ngIf="role == 'Admin'" class="btn btn-warning" (click)="AddVerification(blogDetail?.id)">
                  <i class="feather-check-circle me-1"></i> Verify this post
                </button>

              </div>

              <div class="d-flex justify-content-end mb-3" *ngIf="blogDetail?.is_verified === true">
                <span class="badge bg-success p-2">
                  <i class="feather-check-circle me-1"></i> This post is verified
                </span>
              </div>

              <!-- Title and Maladie -->
              <h3 class="blog-title">{{ blogDetail?.title }}</h3>
              <h6>Maladie : {{ blogDetail?.maladie?.maladie_name }}</h6>

              <!-- Blog Image and Doctor Info -->
              <div class="blog-image mb-3">
                <div class="card">
                  <div class="card-body card-buttons">
                    <div class="blog-content">
                      <div class="blog-grp-blk d-flex align-items-center">
                        <div class="blog-img-blk me-3">
                          <a [routerLink]="['/profile', blogDetail?.doctor?.id]">
                            <img class="img-fluid rounded" [src]="blogDetail?.doctor?.user_image_url"
                              alt="Doctor Image">
                          </a>
                        </div>
                        <div class="content-blk-blog">
                          <h4>
                            <a [routerLink]="['/profile', blogDetail?.doctor?.id]">
                              Dr. {{ blogDetail?.doctor?.firstname }} {{ blogDetail?.doctor?.lastname }}
                            </a>
                          </h4>
                          <h5>Dermatologue</h5>
                          <span class="text-muted">
                            <i class="feather-calendar me-1"></i>{{ blogDetail?.created_at | date:'dd MMM yyyy' }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <!-- Carousel for Images -->
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade mt-4"
                      data-bs-ride="carousel">
                      <ol class="carousel-indicators">
                        <li *ngFor="let image of blogDetail?.image_urls; let i = index" [class.active]="i === 0"
                          [attr.data-bs-slide-to]="i"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div *ngFor="let image of blogDetail?.image_urls; let i = index" [class.active]="i === 0"
                          class="carousel-item">
                          <img class="d-block w-100" [src]="image" alt="Slide {{ i + 1 }}">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Blog Content -->
              <div class="blog-content">
                <h1>{{ blogDetail?.content }}</h1><br>
                <p>{{ blogDetail?.maladie?.maladie_description }}</p>
                <ul class="list-unstyled">
                  <li><strong>Is Cancer:</strong> <span *ngIf="blogDetail?.maladie?.is_cancer">Yes</span><span
                      *ngIf="!blogDetail?.maladie?.is_cancer">No</span></li>
                  <li><strong>Causes:</strong> {{ blogDetail?.maladie?.causes }}</li>
                  <li><strong>Symptoms:</strong> {{ blogDetail?.maladie?.symptoms }}</li>
                  <li><strong>Synonyms:</strong> {{ blogDetail?.maladie?.synonyms }}</li>
                  <li><strong>Prevention:</strong> {{ blogDetail?.maladie?.prevention }}</li>
                  <li><strong>Treatment:</strong> {{ blogDetail?.maladie?.treatments }}</li>
                </ul>
                <p><strong>Read More:</strong> <a class="text-primary" [href]="blogDetail?.maladie?.references"
                    target="_blank">{{ blogDetail?.maladie?.references }}</a></p>
              </div>

            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>