<div class="main-wrapper">
  <app-doctor-header></app-doctor-header>
  <app-doctor-sidebar></app-doctor-sidebar>
  <app-notifiacation-alert></app-notifiacation-alert>
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <ng-progress #progressBar></ng-progress>
  <div class="page-wrapper">
    <div class="content">
      <div class="demo-app-main">
      <h6 class="tip">
        <i class="fa fa-info-circle" style="margin-right: 8px;"></i>
        {{'Doctor_appointments.note_calendar' | translate}}
      </h6>
      
        <full-calendar *ngIf="calendarVisible" [options]="calendarOptions">

          <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
          </ng-template>
        </full-calendar>
      </div>
    </div>
  </div>
</div>
