<div class="main-wrapper">
  <app-doctor-header></app-doctor-header>
  <app-doctor-sidebar></app-doctor-sidebar>
  <app-notifiacation-alert></app-notifiacation-alert>

  <app-spinner [isLoading]="loading"></app-spinner>

  <div class="page-wrapper">
    <div class="col-12 text-end">
      <br>
      <div class="mt-3">
        <button class="btn btn-success" routerLink="/doctor/analyze-image/reports">
            Old Reports  <i class="fas fa-arrow-right"></i> 
        </button>
    </div>
    <br>
    <div class="content container-fluid">

      <div class="row">
        <!-- Section d'analyse -->
        <div class="col-xxl-6">
          <div class="card shadow-sm bg-light border-0">

            <h4 class="card-header text-center bg-primary text-white">
              {{ 'Doctor_IA_section.title' | translate }}
            </h4>
            <form [formGroup]="imageupdate" #f="ngForm" (ngSubmit)="updateimage(f)" class="p-4">
              <!-- Indicateur d'essais -->
              <div class="form-group mb-3 text-center">
                votre plan actuel est : {{ currentuser.plan }}
              </div>
              <div class="form-group mb-3 text-center">
                {{ 'Doctor_IA_section.current_tries' | translate }} 
                {{dataPlan.display_remaining_tries}}
              </div>
              <!-- Input de fichier -->
              <div class="form-group mb-3 text-center">
                <input type="file" class="form-control form-control-lg" (change)="fileChange($event)" accept="image/*"
                  formControlName="file" required />
              </div>

              <!-- Aperçu de l'image téléchargée -->
              <div *ngIf="imageUrl" class="text-center mb-3">
                <img [src]="imageUrl" alt="Uploaded Image" class="img-fluid border" width="300"
                  style="border-radius: 8px;">
              </div>

              <!-- Bouton de soumission -->
              <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">
                  {{ 'Doctor_IA_section.processing_image' | translate }}
                </button>
              </div>

              <!-- Indicateur de chargement -->
              <div *ngIf="loading" class="loading-indicator text-center mt-4">
                <p class="text-secondary">{{ 'Doctor_IA_section.processing_image' | translate }}</p>
              </div>

            </form>
          </div>
        </div>

        <!-- Section des résultats -->
        <div class="col-xxl-6">
          <div class="card shadow-sm bg-white border-0">
            <h4 class="card-header text-center bg-info text-white">
              {{ 'Doctor_IA_section.prediction_result.header' | translate }}
            </h4>
            <div *ngIf="result && !loading" class="result-display p-4">

              <!-- Résumé de la prédiction -->
              <div class="row mb-3 text-center">
                <div class="col-6">
                  <p><strong>{{ 'Doctor_IA_section.prediction_result.predicted_class' | translate }}</strong></p>
                  <span class="badge bg-primary fs-5">{{ result.predicted_class }}</span>
                </div>
                <div class="col-6">
                  <p><strong>{{ 'Doctor_IA_section.prediction_result.probability' | translate }}</strong></p>
                  <span class="badge bg-info fs-5">{{ result.probability | number:'1.2-2' }}%</span>
                </div>
              </div>
              <hr>

              <!-- Informations sur la maladie -->
              <div class="row g-2">
                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.is_cancer' | translate }}</strong>
                </div>
                <div class="col-6">
                  <span *ngIf="result.maladie.is_cancer" class="text-danger">
                    {{ 'Doctor_IA_section.prediction_result.yes' | translate }}
                  </span>
                  <span *ngIf="!result.maladie.is_cancer" class="text-success">
                    {{ 'Doctor_IA_section.prediction_result.no' | translate }}
                  </span>
                </div>

                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.causes' | translate }}</strong>
                </div>
                <div class="col-6">{{ result.maladie.causes }}</div>

                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.symptoms' | translate }}</strong>
                </div>
                <div class="col-6">{{ result.maladie.symptoms }}</div>

                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.synonyms' | translate }}</strong>
                </div>
                <div class="col-6">{{ result.maladie.synonyms }}</div>

                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.prevention' | translate }}</strong>
                </div>
                <div class="col-6">{{ result.maladie.prevention }}</div>

                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.treatment' | translate }}</strong>
                </div>
                <div class="col-6">{{ result.maladie.treatments }}</div>

                <div class="col-6">
                  <strong>{{ 'Doctor_IA_section.prediction_result.reference' | translate }}</strong>
                </div>
                <div class="col-6">{{ result.maladie.causes }}</div>
                <div class="col-6">
                  <a href="{{ result.maladie.references }}" target="_blank" class="text-primary">
                    {{ 'Doctor_IA_section.prediction_result.view_source' | translate }}
                  </a>
                </div>
                <div class="col-6">
                  <a href="{{ result.report_url }}" target="_blank" class="text-primary">
                    {{ 'Doctor_IA_section.prediction_result.download_report' | translate }}
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>