<div class="main-wrapper">
    <app-patient-header></app-patient-header>
    <app-patient-sidebar></app-patient-sidebar>
    <app-notifiacation-alert></app-notifiacation-alert>
    <app-spinner [isLoading]="isLoading"></app-spinner>
    <ng-progress #progressBar></ng-progress>
    <div class="page-wrapper">
        <div class="content">
            <section class="doctor-details">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 content-side">
                            <div class="clinic-details-content doctor-details-content">
                                <div class="clinic-block-one">
                                    <div class="inner-box">
                                        <figure class="image-box"><img src="../../../assets/images1/team/team-33.jpg"
                                                alt=""></figure>
                                        <div class="content-box">
                                            <div class="like-box"><a (click)="addToFavorites(doctorData)"><i
                                                        class="far fa-heart"></i></a></div>
                                            <div class="share-box">
                                                <a class="share-btn" data-bs-toggle="tooltip" data-bs-trigger="click"
                                                    data-bs-html="true" data-bs-placement="bottom"
                                                    title="<em>Url Copied ✅" (click)="onShareClick($event)">
                                                    <i class="fas fa-share-alt"></i>
                                                </a>
                                            </div>

                                            <ul class="name-box clearfix">
                                                <li class="name">
                                                    <h2>Dr. {{doctorData?.firstname}} {{doctorData?.lastname}}</h2>
                                                </li>
                                                <li><i *ngIf="doctorData?.email_confirmed == true"
                                                        class="icon-Trust-1"></i></li>
                                                <li><i *ngIf="doctorData?.email_confirmed == true"
                                                        class="icon-Trust-2"></i></li>
                                            </ul>
                                            <span class="designation">
                                                Med Doctor ,Dermatologue, TN
                                            </span>
                                            <div class="rating-box clearfix">
                                                <ul class="rating clearfix">
                                                    <li
                                                        *ngFor="let star of generateStars(doctorData?.total_rating_value, doctorData?.rating_count)">
                                                        <i class="icon-Star" [class.filled]="star.filled"></i>
                                                    </li>
                                                    <li><a
                                                            href="doctors-details.html">({{doctorData?.rating_count}})</a>
                                                    </li>
                                                </ul>
                                                <div class="link">
                                                    <a *ngIf="doctorData?.working_on_line == true">{{'patient_request.available'|
                                                        translate}}</a>
                                                    <a *ngIf="doctorData?.working_on_line == false">{{'patient_request.not_avaliable'|
                                                        translate}}</a>

                                                </div>
                                            </div>
                                            <div class="text">
                                                <p>{{doctorData?.about_me}}
                                                </p>
                                            </div>
                                            <div class="lower-box clearfix">
                                                <ul class="info clearfix">
                                                    <div class="location-box">

                                                        <li><i
                                                                class="fas fa-map-marker-alt"></i>{{doctorData?.location}},
                                                            Tunisia</li>

                                                    </div>
                                                    <ul class="phone-list">
                                                        <li *ngFor="let phone_number of doctorData?.phone_numbers">
                                                            <i class="fas fa-phone"></i>
                                                            <span class="label">{{ phone_number?.phone_type }}:</span>
                                                            <a [href]="'tel:+216' + phone_number?.number"
                                                                class="number">+216 {{ phone_number?.number }}</a>
                                                        </li>
                                                    </ul>

                                                </ul>
                                                <div class="view-map">
                                                    <a [href]="'https://www.google.com/maps?q=' + doctorData?.latitude + ',' + doctorData?.longitude"
                                                        target="_blank" rel="noopener noreferrer">
                                                        View on Google Map
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-4">Doctor Details</h4>
                                        <ul class="nav nav-pills navtab-bg nav-justified">
                                            <li class="nav-item">
                                                <a href="#overview" data-bs-toggle="tab" aria-expanded="false"
                                                    class="nav-link">
                                                    Service Overview
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#location" data-bs-toggle="tab" aria-expanded="true"
                                                    class="nav-link active">
                                                    Location
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#reviews" data-bs-toggle="tab" aria-expanded="false"
                                                    class="nav-link">
                                                    Rating
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="overview">
                                                <div class="inner-box">
                                                    <table *ngIf="doctorData?.services?.length >0"
                                                        class="accordion-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Service - Visit</th>
                                                                <th>Price</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container
                                                                *ngFor="let service of doctorData.services; let i = index">
                                                                <tr class="accordion-row">
                                                                    <td>{{ service.name }}</td>
                                                                    <td>{{ service.price }}</td>
                                                                    <td class="toggle-icon"
                                                                        (click)="toggleAccordion(i)">
                                                                        {{ activeIndex === i ? '−' : '+' }}
                                                                    </td>
                                                                </tr>
                                                                <tr *ngIf="activeIndex === i" class="description-row">
                                                                    <td colspan="3">{{ service.description }}</td>
                                                                </tr>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                                    <table *ngIf="doctorData?.services?.length === 0"
                                                        class="accordion-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Service - Visit</th>
                                                                <th>Price</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="accordion-row">
                                                                <td style="text-align: center;" colspan="3">No service
                                                                    found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <div class="tab-pane show active" id="location">
                                                <div id="map" style="height: 400px; width: 100%; border-radius: 10px;">
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="reviews">
                                                <div *ngFor="let rating of doctorData.ratings
                                                | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                                                    class="rating-item mb-3 p-3 border rounded">
                                                    <div class="d-flex align-items-center mb-2">
                                                        <img *ngIf="rating.consultation?.patient?.user_image_url"
                                                            [src]="rating.consultation.patient.user_image_url"
                                                            alt="Patient Image" class="rounded-circle me-2" width="50"
                                                            height="50">
                                                        <strong>
                                                            {{ rating.consultation?.patient?.firstname }} {{
                                                            rating.consultation?.patient?.lastname }}
                                                        </strong>
                                                    </div>

                                                    <div class="mb-1 text-warning">
                                                        <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                                                            <i class="bi"
                                                                [ngClass]="i < (+rating.rating_value) ? 'bi-star-fill' : 'bi-star'"></i>
                                                        </ng-container>
                                                    </div>


                                                    <p class="mb-0">{{ rating.comment || 'No comment provided.' }}</p>

                                                </div>
                                            </div>

                                        </div>
                                                                                            <div style="text-align:right;">
                                                        <pagination-controls
                                                            (pageChange)="p = $event"></pagination-controls>
                                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>