<div class="main-wrapper">
    <app-patient-header></app-patient-header>
    <app-patient-sidebar></app-patient-sidebar>
    <app-notifiacation-alert></app-notifiacation-alert>
    <app-spinner [isLoading]="loading"></app-spinner>
    <ng-progress #progressBar></ng-progress>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">{{'patient_request.header'| translate}}</h4>
                        </div>
                        <div class="card-body">
                            <div class="wizard">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" role="tabpanel" id="step1"
                                        aria-labelledby="step1-tab">
                                        <div class="mb-4">
                                            <form class="d-flex">
                                                <input type="text" name="role" class="form-control"
                                                    (input)="searchDoctors()" [(ngModel)]="searchedKeyword"
                                                    placeholder="{{'patient_request.search'| translate}}">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt></a>
                                            </form>
                                        </div>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                                                    <div class="wrapper list">
                                                        <div class="clinic-list-content list-item">
                                                            <div *ngFor="let item of nearstdoctor  | filter: searchedKeyword | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
                                                                class="clinic-block-one">
                                                                <div class="inner-box">
                                                                    <div class="pattern">
                                                                        <div class="pattern-1"
                                                                            style="background-image: url(../../../assets/images1/shape/shape-24.png);">
                                                                        </div>
                                                                        <div class="pattern-2"
                                                                            style="background-image: url(../../../assets/images1/shape/shape-25.png);">
                                                                        </div>
                                                                    </div>
                                                                    <figure class="image-box"><img [routerLink]="['/patient/doctor-details', item.id]"
                                                                            src="{{item.user_image_url}}" alt="">
                                                                    </figure>
                                                                    <div class="content-box">
                                                                        <div class="like-box"><a><i
                                                                                    class="far fa-heart"></i></a></div>
                                                                        <ul class="name-box clearfix">
                                                                            <li class="name">
                                                                                <h3><a [routerLink]="['/patient/doctor-details', item.id]">Dr. {{item.firstname}}
                                                                                        {{item.lastname}}</a></h3>
                                                                            </li>
                                                                            <li *ngIf="item.email_confirmed == true"><i
                                                                                    class="icon-Trust-1"></i></li>
                                                                            <li *ngIf="item.email_confirmed == true"><i
                                                                                    class="icon-Trust-2"></i></li>
                                                                        </ul>
                                                                        <span class="designation">Med Doctor ,
                                                                            Dermatologue, TN</span>
                                                                        <div class="text">
                                                                            <p [innerHTML]="item.about_me"></p>
                                                                        </div>
                                                                        <div class="text">
                                                                            <p>{{item.description}}</p>
                                                                        </div>
                                                                        <div class="rating-box clearfix">
                                                                            <ul class="rating clearfix">
                                                                                <li
                                                                                    *ngFor="let star of generateStars(item.total_rating_value, item.rating_count)">
                                                                                    <i class="icon-Star"
                                                                                        [class.filled]="star.filled"></i>
                                                                                </li>
                                                                                <li><a
                                                                                        href="doctors-details.html">({{item.rating_count}})</a>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="link">
                                                                                <a *ngIf="item.working_on_line == true">{{'patient_request.available'| translate}}</a>
                                                                                <a
                                                                                    *ngIf="item.working_on_line == false">{{'patient_request.not_avaliable'| translate}}</a>

                                                                            </div>
                                                                        </div>
                                                                        <div class="location-box">
                                                                            <p><i
                                                                                    class="fas fa-map-marker-alt"></i>{{item.location}},
                                                                                Tunisia</p>
                                                                        </div>
                                                                        <br>
                                                                        <div class="btn-box"><a
                                                                                [routerLink]="['/patient', item.id, 'select-date']">{{'patient_request.select_doctor'| translate}}</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="nearstdoctor.length === 0"
                                                                class="alert alert-danger text-center">
                                                                No doctors found.
                                                            </div>
                                                            <router-outlet></router-outlet>

                                                        </div>
                                                        <h6 class="tip">{{'patient_request.tips'| translate}} <a
                                                                routerLink="/patient/settings"><u>Settings</u></a>
                                                        </h6>
                                                        <div style="text-align:right;">
                                                            <pagination-controls
                                                                (pageChange)="p = $event"></pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>