<div class="spinner-overlay" *ngIf="isLoading">
  <div class="loader-box">
    <div class="loader-icon">📄</div>
    <div class="title">Processing Your Image</div>



    <div class="subtitle">Please wait while we analyze your skin image</div>

    <div class="spinner"></div>

        <!-- 🔽 Progress Bar (Slider) -->
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>
    <div class="title">We're almost there! Getting your results ready...</div>
    <div class="subtitle">
      We're extracting key information from your image to help you.
    </div>

    <div class="note">⏱️ This usually takes less than a minute</div>
  </div>
</div>
