<div class="main-wrapper">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
    <app-notifiacation-alert></app-notifiacation-alert>
    <app-spinner [isLoading]="isLoading"></app-spinner>
    <ng-progress #progressBar></ng-progress>
    <div class="page-wrapper">
        <div class="content">

            <div class="card-body">
                <h4 class="header-title mb-4">{{'Doctor_appointments.all_patients_requests' | translate}}
                    ({{filteredConsultations.length}})</h4>
                <div class="row mb-3">
                    <!-- Search Input (Left side) -->
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <input type="text" name="role" class="form-control form-control-sm"
                                (ngModelChange)="onSearchChange()" [(ngModel)]="searchedKeyword"
                                placeholder="{{'Doctor_appointments.search_for' | translate}}">
                        </div>
                    </div>

                    <!-- Status Dropdown (Right side) -->
                    <div class="col-md-6">
                        <select class="form-control form-control-sm" id="statusDropdown" [(ngModel)]="selectedStatus"
                            (change)="onStatusChange()">
                            <option hidden value="" selected>{{'Doctor_appointments.filter_by_state.title' | translate}}
                            </option>
                            <option value="pending">{{'Doctor_appointments.filter_by_state.pending' | translate}}
                            </option>
                            <option value="approved">{{'Doctor_appointments.filter_by_state.accepted' | translate}}
                            </option>
                            <option value="rejected">{{'Doctor_appointments.filter_by_state.refused' | translate}}
                            </option>
                            <option value="canceled">{{'Doctor_appointments.filter_by_state.canceled' | translate}}
                            </option>
                            <option value="finished">{{'Doctor_appointments.filter_by_state.finished' | translate}}
                            </option>
                        </select>
                    </div>

                </div>
                <h6 class="tip">{{'Doctor_appointments.tip' | translate}}
                </h6>
                <table class="table border-0 custom-table comman-table datatable mb-0">
                    <thead>

                        <tr>
                            <th>{{'Doctor_appointments.rendez_vous_date' | translate}}</th>
                            <th>{{'Doctor_appointments.rendez_vous_type' | translate}}</th>
                            <th>{{'Doctor_appointments.doctor' | translate}}</th>
                            <th>{{'Doctor_appointments.patient' | translate}}</th>
                            <th>{{'Doctor_appointments.phone_number' | translate}}</th>
                            <th>{{'Doctor_appointments.status_demande' | translate}}</th>
                            <th>{{'Doctor_appointments.status' | translate}}</th>
                            <th>{{'Doctor_appointments.update' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of filteredConsultations | paginate: { itemsPerPage: 10, currentPage: p } | filter: searchedKeyword | filterByStatus: selectedStatus; index as i">
                            <td class="description-content">
                                <a>
                                    {{ item.appointment | date: 'EEEE'}}<br>
                                    {{ item.appointment | date: 'dd'}}
                                    {{ item.appointment | date: 'MMMM'}}
                                    {{ item.appointment | date: 'yyyy'}}<br>
                                    at {{ item.appointment | date: 'HH:mm'}}
                                </a>
                            </td>
                            <td>

                                <span *ngIf="item.appointment_type === 'online'"
                                    class="badge rounded-pill badge-outline-success">
                                    <i class="fa fa-wifi" data-bs-toggle="tooltip" title="fa fa-wifi"></i>

                                    {{ item.appointment_type }}
                                </span>
                                <span *ngIf="item.appointment_type === 'onsite'"
                                    class="badge rounded-pill badge-outline-info">
                                    <i class="fa fa-briefcase" data-bs-toggle="tooltip" title="fa fa-briefcase"></i>
                                    {{ item.appointment_type }}
                                </span> <br>
                                <button type="button" class="btn btn-rounded btn-primary"
                                    [routerLink]="['/live', item.room_code]"
                                    *ngIf="item.appointment_type === 'online' && item.code_room"
                                    [ngClass]="{'disabled-button': isButtonDisabled(item.sentAt)}"
                                    [attr.disabled]="isButtonDisabled(item.appointment) ? true : null">
                                    Link RTC
                                </button>
                            </td>



                            <td class="profile-image">
                                <a><img width="28" height="28" src="{{item.doctor.user_image_url}}"
                                        class="rounded-circle m-r-5" alt>
                                    Dr. {{item.doctor.firstname}} {{item.doctor.lastname}}
                                </a>
                            </td>
                            <td class="profile-image">
                                <a><img width="28" height="28" src="{{item.patient.user_image_url}}"
                                        class="rounded-circle m-r-5" alt>
                                    Mr(s) {{item.patient.firstname}} {{item.patient.lastname}}
                                </a>
                            </td>
                            <td>
                                patient: {{item.patient.phone_number}}<br>
                                doctor: <div *ngIf="item.doctor.phone_numbers && item.doctor.phone_numbers.length > 0">
                                    <div *ngFor="let phone of item.doctor.phone_numbers" class="phone-number-item">
                                        <i  class="fas" [ngClass]="{
                                            'fa-mobile-alt': phone.phone_type === 'personal', 
                                            'fa-home': phone.phone_type === 'home', 
                                            'fa-briefcase': phone.phone_type === 'fax'
                                        }"></i>
                                        <span class="ms-2">{{ phone.number }}</span>
                                    </div>
                                </div>
                                <span *ngIf="!item.doctor.phone_numbers || item.doctor.phone_numbers.length === 0"
                                    style="color: rgb(255, 9, 9);">
                                    <i class="fa fa-ban" data-bs-toggle="tooltip" title="Not Provided"></i>
                                    Not Provided
                                </span>

                            </td>

                            <td>
                                <button *ngIf="item.status == 'approved'"
                                    class="custom-badge status-green">Accepted</button>
                                <button *ngIf="item.status == 'pending'"
                                    class="custom-badge status-orange">Pending</button>
                                <button *ngIf="item.status == 'rejected'"
                                    class="custom-badge status-red">Rejected</button>
                                <button *ngIf="item.status == 'canceled'"
                                    class="custom-badge status-blue">Canceled</button>
                                <button *ngIf="item.status == 'finished'"
                                    class="custom-badge status-purple">Finished</button>

                            </td>
                            <td *ngIf="item.appointment_type=='online'">
                                <div *ngIf="item.is_payed==true">
                                    <i style="color: green;" class="fa fa-check" data-bs-toggle="tooltip"
                                        title="Payment Success 😀"> Paied</i>
                                </div>
                                <div *ngIf="item.is_payed==false">
                                    <i style="color: red;" class="fa fa-close" data-bs-toggle="tooltip"
                                        title="fa fa-window-close">Not Paied Yet</i>
                                </div>
                            </td>
                            <td *ngIf="item.appointment_type=='onsite'">
                                <i style="color: red;" class="fa fa-close" data-bs-toggle="tooltip"
                                    title="Appointment On Site"> Not Considered</i>

                            </td>


                            <td>
                                <button class="btn btn-outline-secondary rounded-pill"
                                    [disabled]="item.status !== 'pending'" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1"
                                    (click)="handleClick(item.status, item.refus_reason, item.id)">
                                    Update
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="allConsultations?.length == 0" class="no-appointment-row">
                            <td colspan="8" class="description-content no-appointment-text">
                                {{'Doctor_appointments.no_appointmnet' | translate}}
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
            <div style="text-align:right;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Demande</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="update" #f="ngForm" (ngSubmit)="updatedemande(f); f.reset()">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameBackdrop" class="form-label">Status Name</label>

                                        <select class="form-control" id="exampleFormControlSelect1"
                                            [(ngModel)]="datademande.status" required formControlName="status">
                                            <option value="pending">En Cours</option>
                                            <option value="approved">accepted</option>
                                            <option value="rejected">refus</option>
                                        </select>
                                    </div>
                                    <div *ngIf="datademande.status === 'rejected'" class="ol mb-3">
                                        <label class="col-form-label">Leave Reason <span
                                                class="text-danger">*</span></label>
                                        <textarea rows="4" formControlName="refus_reason"
                                            [(ngModel)]="datademande.refus_reason" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>