<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/patient/dashboard">
                        <span class="menu-side"><img src="../../../assets/img/icons/landing-page-svgrepo-com.svg" alt></span>
                        <span>{{'Patient_sidebar.dashboard' | translate}}</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/patient/appointment-request">
                        <span class="menu-side"><img src="../../../assets/img/icons/reservation-smartphone-svgrepo-com.svg" alt></span>
                        <span>{{'Patient_sidebar.appointment_request' | translate}}</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/forums"><span class="menu-side"><img
                                src="../../../assets/img/icons/online-meeting-discussion-communication-svgrepo-com.svg" alt></span> <span>{{'Patient_sidebar.forum_with_doctors' | translate}}</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mail"><span class="menu-side"><img
                        src="../../../assets/img/icons/vivre.svg" alt></span> <span>{{'Patient_sidebar.email_box' | translate}}</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/patient/blogs"><span class="menu-side"><img
                                src="../../../assets/img/icons/read-news-learn-understand-paper-svgrepo-com.svg" alt></span> <span>{{'Patient_sidebar.blogs' | translate}}</span></a>
                </li>
            </ul>
            <div class="logout-btn">
                <a href="#" (click)="logout(); $event.preventDefault();">
                    <span class="menu-side">
                        <img src="../../../assets/img/icons/logout-svgrepo-com.svg" alt="Logout Icon">
                    </span>
                    <span>{{'Patient_sidebar.logout' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
</div>