<div class="main-wrapper">

    <app-header-superadmin></app-header-superadmin>
    <ng-progress #progressBar></ng-progress>
    <app-sidebar-superadmin></app-sidebar-superadmin>

    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header mb-4">
                <h3 class="page-title">{{ 'ADD_COMPANY.ADD_NEW_COMPANY' | translate }}</h3>
            </div>

            <div class="card">
                <div class="card-body">

                    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">

                        <div class="row">

                            <!-- ================= COMPANY INFO ================= -->
                            <div class="col-md-6">
                                <h5 class="mb-3 border-bottom pb-2">{{ 'ADD_COMPANY.COMPANY_INFO' | translate }}</h5>

                                <div class="row g-3 mb-4">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ 'ADD_COMPANY.COMPANY_NAME' | translate }}</label>
                                        <input class="form-control" formControlName="company_name">
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">{{ 'ADD_COMPANY.COMPANY_TYPE' | translate }}</label>
                                        <div class="position-relative">
                                            <input type="text" class="form-control"
                                                placeholder="{{ 'ADD_COMPANY.SELECT_COMPANY_TYPE' | translate }}"
                                                [(ngModel)]="searchTerm" (ngModelChange)="filterCompanyTypes()"
                                                (focus)="showCompanyTypeDropdown = true"
                                                [ngModelOptions]="{standalone: true}">
                                            <button *ngIf="selectedCompanyType" type="button"
                                                class="btn btn-sm btn-link position-absolute end-0 top-50 translate-middle-y"
                                                (click)="clearCompanyType()" style="text-decoration: none;">
                                                <i class="fa fa-times"></i>
                                            </button>

                                            <!-- Dropdown -->
                                            <div *ngIf="showCompanyTypeDropdown" class="dropdown-menu w-100 show"
                                                style="position: absolute; top: 100%; left: 0; z-index: 1000;">
                                                <div *ngIf="filteredCompanyTypes.length > 0; else noResults"
                                                    class="list-group list-group-flush">
                                                    <button *ngFor="let type of filteredCompanyTypes" type="button"
                                                        class="list-group-item list-group-item-action"
                                                        (click)="selectCompanyType(type)"
                                                        [ngClass]="{'active': selectedCompanyType?.id === type.id}">
                                                        {{ type.name }}
                                                    </button>
                                                </div>
                                                <ng-template #noResults>
                                                    <div class="list-group-item text-muted text-center py-3">
                                                        {{ 'ADD_COMPANY.NO_RESULTS' | translate }}
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <small *ngIf="selectedCompanyType" class="text-muted d-block mt-1">
                                            <i class="fa fa-check text-success me-1"></i>{{ 'ADD_COMPANY.SELECTED' |
                                            translate }}: {{ selectedCompanyType.name }}
                                        </small>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">{{ 'ADD_COMPANY.BILLING_ADDRESS' | translate
                                            }}</label>
                                        <input class="form-control" formControlName="billing_address">
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">{{ 'ADD_COMPANY.DESCRIPTION' | translate }}</label>
                                        <textarea rows="3" class="form-control"
                                            formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- ================= ADMIN INFO ================= -->
                            <div class="col-md-6">
                                <h5 class="mb-3 border-bottom pb-2">{{ 'ADD_COMPANY.ADMIN_INFO' | translate }}</h5>

                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">{{ 'ADD_COMPANY.FIRST_NAME' | translate }}</label>
                                        <input class="form-control" formControlName="firstname">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">{{ 'ADD_COMPANY.LAST_NAME' | translate }}</label>
                                        <input class="form-control" formControlName="lastname">
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">{{ 'ADD_COMPANY.EMAIL' | translate }}</label>
                                        <input type="email" class="form-control" formControlName="email">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">{{ 'ADD_COMPANY.PASSWORD' | translate }}</label>
                                        <input type="password" class="form-control" formControlName="password">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">{{ 'ADD_COMPANY.CONFIRM_PASSWORD' | translate
                                            }}</label>
                                        <input type="password" class="form-control"
                                            formControlName="password_confirmation">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- SUBMIT -->
                        <div class="text-end mt-4">
                            <button class="btn btn-primary" [disabled]="companyForm.invalid || isLoading">
                                {{ isLoading ? ('ADD_COMPANY.SAVING' | translate) : ('ADD_COMPANY.SAVE_COMPANY' |
                                translate) }}
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
