.custom-image-size {
    width: 500px;
    height: 300px;
    object-fit: cover; /* Optional: Ensures the image covers the entire area without distortion */
  }
  .custom-image-size-v {
    width: 20px;
    height: 20px;
    object-fit: cover; /* Optional: Ensures the image covers the entire area without distortion */
  }
  