<div class="main-wrapper">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
    <app-notifiacation-alert></app-notifiacation-alert>

    <div class="page-wrapper">
        <div class="content">

            <div class="good-morning-blk">
                <div class="row">
                    <div class="col-md-6">
                        <div class="morning-user">
                            <h2>    {{ 'Doctor_dashboard.welcome' | translate }} <span>Dr. {{currentuser.lastname}} {{currentuser.firstname}}</span></h2>
                            <p>    {{ 'Doctor_dashboard.greeting' | translate }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 position-blk">
                        <div class="morning-img">
                            <img src="assets/img/morning-img-02.png" alt>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12  col-xl-7">
                    <div class="row">
                        <div class="col-12 col-md-12  col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title d-inline-block">{{ 'Doctor_dashboard.appointment_comments' | translate }} {{this.now |
                                                    date:'dd MMM yyyy'}} .</h4> <a
                                        routerLink="/doctor/planning" class="patient-views float-end">{{ 'Doctor_dashboard.display' | translate }}</a>
                                </div>
                                <div class="card-body p-0 table-dash">
                                    <div class="table-responsive">
                                        <table class="table mb-0 border-0 custom-table">
                                            <tbody>
                                                <tr *ngFor="let appointment of AppointmentOfTheDay let i = index">
                                                    <td class="table-image appoint-doctor">
                                                        <img width="28" height="28" class="rounded-circle"
                                                            src="{{appointment.patient.user_image_url}}" alt>
                                                        <h2>Mr. {{appointment.patient.firstname}}{{appointment.patient.lastname}} </h2>
                                                    </td>
                                                    <td  class="appoint-time text-center"><h6>phone : {{appointment.patient.phone_number}}</h6></td>
                                                    <td class="appoint-time text-center">
                                                        <h6>{{'Doctor_dashboard.today' | translate}} {{ appointment.appointment | date: 'HH:mm' }}

                                                        </h6>
                                                    </td>
                                                    <td *ngIf="show">
                                                        <i style="color: green;" class="fa fa-check" data-bs-toggle="tooltip"
                                                            title="fa fa-check"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-4 d-flex">
                            <div class="card wallet-widget">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="66">
                                        <b><img src="assets/img/icons/timer.svg" alt></b>
                                    </div>
                                </div>
                                <div class="main-limit">
                                    <p>{{ 'Doctor_dashboard.Next_appointment' | translate }}</p>
                                    <h4 *ngIf="nextAppointment; else noAppointment">
                                        {{ remainingHours }}h:{{ remainingMinutes }}m
                                    </h4>
                                    <ng-template #noAppointment>
                                        <p>{{ 'Doctor_dashboard.no_appointmnet' | translate }}</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>