<div class="main-wrapper">
    <app-header-admin></app-header-admin>
    <app-sidebar-admin></app-sidebar-admin>
    <app-spinner [isLoading]="isLoading"></app-spinner>
    <ng-progress #progressBar></ng-progress>

    <div class="page-wrapper">
        <div class="content">


            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table show-entire">
                        <div class="card-body">

                            <p *ngIf="last_import.last_run">Last import With Data Scrapping: {{ last_import.last_run }}
                            </p>

                            <div class="page-table-header mb-2">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="doctor-table-blk">
                                            <h3>Doctors List</h3>
                                            <div class="doctor-search-blk">
                                                <div class="top-nav-search table-search-blk">
                                                    <form class="d-flex">
                                                        <input type="text" name="role" class="form-control"
                                                            [(ngModel)]="searchedKeyword"
                                                            (ngModelChange)="searchDoctors()"
                                                            placeholder="Search for a Doctor">
                                                        <a class="btn"><img src="assets/img/icons/search-normal.svg"
                                                                alt></a>
                                                    </form>
                                                </div>

                                                <!-- Department Dropdown (Placed in the Middle) -->


                                                <div class="add-group">
                                                    <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"
                                                        (click)="refreshDoctors()">
                                                        <img src="assets/img/icons/re-fresh.svg" alt>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <div class="add-group">
                                            <a href="javascript:;" (click)="opendataCSV()"
                                                class="btn btn-primary add-pluss ms-2">
                                                <img src="assets/img/icons/plus.svg" alt>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="table-responsive">
                                <table *ngIf="!isLoading"
                                    class="table border-0 custom-table comman-table datatable mb-0">
                                    <thead>

                                        <tr>
                                            <th (click)="sortByName()">
                                                <img src="assets/img/icons/sort-icon-01.svg" alt>
                                                <img src="assets/img/icons/sort-icon-02.svg" alt>Name
                                            </th>
                                            <th (click)="sortByName()">
                                                <img src="assets/img/icons/sort-icon-01.svg" alt>
                                                <img src="assets/img/icons/sort-icon-02.svg" alt>
                                                Location
                                            </th>
                                            <th>Location Description</th>
                                            <th>Fix Number</th>
                                            <th>Email</th>
                                            <th>Email Confirmed</th>

                                            <th (click)="sortByCreatedAt()">
                                                <img src="assets/img/icons/sort-icon-01.svg" alt>
                                                <img src="assets/img/icons/sort-icon-02.svg" alt>Joining Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let item of filteredDoctors | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

                                            <td class="profil-content">
                                                <a>
                                                    <img width="28" height="28" src="{{item.user_image_url}}"
                                                        class="rounded-circle" alt>
                                                    <span>Dr. {{item.firstname}} {{item.lastname}}</span>
                                                </a>
                                            </td>


                                            <td>{{item.location}}</td>
                                            <td>
                                                <div class="accord-btn">
                                                    <!-- Button to toggle collapse -->
                                                    <a class="btn btn-primary mb-3" data-bs-toggle="collapse"
                                                        [attr.href]="'#collapseExample' + i"
                                                        [attr.aria-expanded]="false"
                                                        [attr.aria-controls]="'collapseExample' + i">
                                                        Display Description
                                                    </a>
                                                    <!-- Collapsible content -->
                                                    <div class="collapse" id="collapseExample{{i}}">
                                                        <div class="card">
                                                            <div class="description-content">
                                                                {{item.address}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><a *ngIf="item.phone_number"
                                                    href="javascript:;">+{{item.phone_number}}</a>
                                                <a *ngIf="!item.phone_number" href="javascript:;"> <span
                                                        style="text-align: center;"> - </span> </a>
                                            </td>
                                            <td>{{item.email}}
                                            </td>
                                            <td >
                                                <div *ngIf="item.confirmed_at">
                                                    <i style="color: green;" class="fa fa-check" data-bs-toggle="tooltip"
                                                    title="fa fa-check"></i>
                                                </div>
                                                <div *ngIf="!item.confirmed_at">
                                                    <i style="color: red;" class="fa fa-close" data-bs-toggle="tooltip"
                                                    title="fa fa-window-close"></i>
                                                </div>
                                            </td>

                                            <td>{{item.created_at | date: 'yyyy-MM-dd'}}</td>
                                            <td class="text-end">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false"><i
                                                            class="fa fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" (click)="delete(item.id, i)"><i
                                                                class="fa fa-trash-alt m-r-5"></i> Archiver</a>
                                                        <a *ngIf="!item.confirmed_at" class="dropdown-item"
                                                            (click)="activateCompte(item.id)">
                                                            <i class="fa fa-toggle-on m-r-5"></i>
                                                            Activate Now</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="filteredDoctors?.length == 0" class="no-appointment-row">
                                            <td colspan="8" class="description-content no-appointment-text">
                                                No Doctor Founds!!
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="text-align:right;">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="delete_patient" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt width="50" height="46">
                    <h3>Are you sure want to delete this ?</h3>
                    <div class="m-t-20"> <a href="#" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>