<div class="header">
    <!-- Language Selector -->

    <!-- Logo -->
    <div class="header-left">
        <a href="index.html" class="logo">
            <img src="../../../assets/img/logo.png" alt="Logo">
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="../../../assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <!-- /Logo -->

    <ul class="nav primary-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/admin/calendar">
                <i class="feather-calendar me-1"></i>
                <span>{{ 'SIDEBAR.PLANNING' | translate }}</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/contracts">
                <i class="feather-file-text me-1"></i>
                <span>{{ 'SIDEBAR.CONTRACTS' | translate }}</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/devis">
                <i class="feather-edit-3 me-1"></i>
                <span>{{ 'SIDEBAR.DEVIS' | translate }}</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/admin/inventory">
                <i class="feather-box me-1"></i>
                <span>{{ 'SIDEBAR.INVENTORY' | translate }}</span>
            </a>
        </li>



        <li class="nav-item dropdown" routerLinkActive="active" #repertoires="routerLinkActive">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                [class.active]="repertoires.isActive">
                <i class="feather-folder me-1"></i>
                <span>{{ 'SIDEBAR.REPERTOIRES' | translate }}</span>
                <i class="feather-chevron-down ms-1"></i>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/admin/clients" routerLinkActive="active">{{ 'SIDEBAR.CLIENTS' |
                    translate }}</a>
                <a class="dropdown-item" routerLink="/admin/company-library" routerLinkActive="active">{{
                    'SIDEBAR.COMPANY_LIBRARY' | translate }}</a>
                <a class="dropdown-item" routerLink="/admin/employees" routerLinkActive="active">{{ 'SIDEBAR.EMPLOYEES'
                    | translate }}</a>
                <a class="dropdown-item" routerLink="/admin/maintenance" routerLinkActive="active">{{
                    'SIDEBAR.MAINTENANCE' | translate }}</a>
                <a class="dropdown-item" routerLink="/admin/materials" routerLinkActive="active">{{ 'SIDEBAR.MATERIALS'
                    | translate }}</a>
                <a class="dropdown-item" routerLink="/admin/suppliers" routerLinkActive="active">{{ 'SIDEBAR.SUPPLIERS'
                    | translate }}</a>
                <a class="dropdown-item" routerLink="/admin/team" routerLinkActive="active">{{ 'SIDEBAR.TEAM' |
                    translate }}</a>
                <a class="dropdown-item" routerLink="/admin/vehicles" routerLinkActive="active">{{ 'SIDEBAR.VEHICLES' |
                    translate }}</a>
            </div>
        </li>
    </ul>

    <!-- Header Right Menu -->
    <ul class="nav user-menu">
        <li class="nav-item dropdown noti-dropdown">
            <a class="nav-link" title="Toggle Dark Mode" (click)="toggleDarkMode()">
                <i class="fa" [class.fa-moon]="!darkMode" [class.fa-sun]="darkMode"></i>
            </a>
        </li>

        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img"><img class="rounded-circle" [src]="currentUser?.user_image_url" width="31"
                        alt="Ryan Taylor"></span>
            </a>
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img [src]="currentUser?.user_image_url" alt="User Image" class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">
                        <h6>{{currentUser?.firstname}} {{currentUser?.lastname}}</h6>
                        <p class="text-muted mb-0">{{currentUser?.type}}</p>
                    </div>
                </div>
                <a class="dropdown-item" routerLink="/admin/settings">
                    <i class="feather-settings me-1"></i>
                    <span>{{ 'SIDEBAR.SETTINGS' | translate }}</span>
                </a>
                <a class="dropdown-item" (click)="logout()">
                    <i class="fa fa-sign-out-alt me-2"></i> {{ 'LOGOUT' | translate }}
                </a>
            </div>
        </li>
    </ul>
</div>
